/*##################Á öllu#####################*/
body {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0;
    background-color: #adad85;
    background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header,footer,nav{width: 100%;}
img{
	border: 1em;
	display: flex;
	width: 100%;
	height: auto;
}
footer{
	border-top: 1px solid #808080;
	padding-top: 1em;
	padding-bottom: 1em;
	order:7;
	display: flex;
	flex-flow: column wrap;
	background-color: #1a1a1a;
	color: white;
	text-align: center;
}
footer a{
	font-size: 1.5em;
	transition-duration: 1s;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #1a1a1a;
	border-top: 1px solid #1a1a1a;
}
footer a:hover{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #1a1a1a;
}


#toggle{
display: none;
}
label{
	position: fixed;
	display: flex;
	order: 1;
	background-color: #0d0d0d;
	color: white;
	width: 100%;
	padding: 2em;
}
nav{
	top: -20em;
	justify-content: flex-end;
	overflow: hidden;
	display: flex;
	order: 1;
	position: fixed;
	background-color: #0d0d0d;
	color: white;
	transition-duration: 1s;
}
nav ul{
	display: flex;
	list-style-type:none;
	flex-flow: row wrap;
}
nav li{
	
	padding: 1em;
	transition-duration: 1s;
	border-bottom: 1px solid #0d0d0d;
}
nav a{
	color: white;
	text-decoration: none;
}
input:checked ~ nav{
	top: 5em;
}
/*##################header#####################*/
header{
	margin-top: 20em;
	order:2;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
	border-bottom: 10em solid #0d0d0d;
	border-top: 2em solid #0d0d0d;
}
header a{
	font-size: 1.5em;
	transition-duration: 1s;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #0d0d0d;
	border-top: 1px solid #0d0d0d;
}
header a:hover{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #1a1a1a;
}
/*##################gluggar á forsiðu#####################*/

/*##################seinni gluggi#####################*/
.alpha{
	padding-bottom: 3em;
	width: 100%;
	order:3;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}
.alpha a{
	font-size: 1.5em;
	transition-duration: 1s;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #0d0d0d;
	border-top: 1px solid #0d0d0d;
}
.alpha a:hover{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #1a1a1a;
}
/*##################þriðji#####################*/
.bravo{
	padding-bottom: 3em;
	width: 100%;

	order:5;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}
.bravo a{
	font-size: 1.5em;
	transition-duration: 1s;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #0d0d0d;
	border-top: 1px solid #0d0d0d;
}
.bravo a:hover{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #1a1a1a;
}
/*##################fjorði#####################*/
.charlie{
	order:4;
	display: flex;
	width: 100%;
	background-color: #0d0d0d;
	padding-bottom: 3em;
}
/*##################gluggar á forrit siðu#####################*/
.delta{
	order:4;
	display: flex;
	width: 100%;
	background-color: #0d0d0d;
	padding-bottom: 3em;
	align-items: center;
	justify-content: center
}
.delta img{
	padding-left: 10em;
	width: 50%;
}
/*##################gluggar á okkur siðu#####################*/

/*##################seinni gluggi#####################*/
.echo{
	padding-bottom: 3em;
	width: 50%;

	order:3;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}
.echo a{
	font-size: 1.5em;
	transition-duration: 1s;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #0d0d0d;
	border-top: 1px solid #0d0d0d;
}
.echo a:hover{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #1a1a1a;
}
/*##################þriðji#####################*/
.foxtrot{
	padding-bottom: 3em;
	width: 50%;

	order:6;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}
.foxtrot a{
	font-size: 1.5em;
	transition-duration: 1s;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #0d0d0d;
	border-top: 1px solid #0d0d0d;
}
.foxtrot a:hover{
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #1a1a1a;
}
/*##################fjorði#####################*/
.golf{
	padding-bottom: 3em;
	width: 50%;

	order:4;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}
/*##################fimti#####################*/
.hotel{
	padding-bottom: 25em;
	width: 50%;

	order:5;
	display: flex;
	flex-flow: column wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}
/*##################gluggar á ferril siðu#####################*/

/*##################seinni gluggi#####################*/
.india{
	padding-bottom: 25em;
	width: 1000%;

	order:5;
	display: flex;
	flex-flow: row wrap;
	background-color: #0d0d0d;
	color: white;
	text-align: center;
}

/*##################stærðar breytingar#####################*/
@media screen and (min-width: 30em)  {

}
@media screen and (min-width: 48em)  {
header{
	margin-top: 50em;
}
label{display: none}

nav{
	top: 0em;
	justify-content: flex-start;
}
nav li{	
flex-flow: row wrap;
}
nav ul{
	width: 100%;
}
.alpha{
	order:4;
	width: 50%;
}
.bravo{
	order:5;
	width: 50%;
}
.charlie{
	order:3;
}
}
@media screen and (min-width: 60em)  {
.alpha{
	order:3;
	width: 33%;
}
.bravo{
	width: 33%;
}
.charlie{
	order:4;
	width:34%;
}
nav{
	opacity: 0.93;}
nav li:hover{
	border-bottom: 1px solid #808080;
	background-color: #1a1a1a;
	padding-right: 2em;
}

nav:hover{opacity: 1;}
}